.boxx{
    background-color: beige;
    width: 500px;
    border-radius: 14px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    
}

.head{
    text-align: center;
}

button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background-color: wheat;
    color: black;
    font-size: 16px;
    font-family: 'Archivo', sans-serif;
    cursor: pointer;
    padding: 10px 10px 10px 10px;
    margin: 10px;

}
