
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@500&display=swap');
.wrapper{
    background-color: beige;
    width: 600px;
    border-radius: 14px;
    padding: 20px;
}

.wrapper h1{
    text-align: center;
    font-family: 'Archivo', sans-serif;

}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 15px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    border-radius: 40px;
    padding: 20px 45px 20px 20px;
}

.input-box .icon{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.wrapper button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background-color: black;
    color: wheat;
    font-size: 20px;
    font-family: 'Archivo', sans-serif;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
}
.wrapper button:hover{
   
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add the glow effect on hover */

}

.wrapper .error{
    color: red;
    text-align: center;
    font-family: 'Archivo', sans-serif;
    
}