@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Archivo', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(139, 187, 217);
}

code {
  font-family: 'Archivo', sans-serif;
}
